doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/ico/favicon.ico')
    title RedRobin API
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/css/jumbotron-narrow.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    script(src='/js/ie8-responsive-file-warning.js')
    //if lt IE 9
    script(src='/js/ie8-responsive-file-warning.js')
    //if lt IE 9
    script(src='/js/ie8-responsive-file-warning.js')
    //if lt IE 9
    script(src='/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
        h3.text-muted Red Robin
      .jumbotron
        block jumbo-content

      block sub-content

      h2.sub-header Available API Methods
      .table-responsive
        table.table.table-striped
          thead
            tr
              th Call
              th Parameter
              th Parameter
              th Returns
          tbody
            tr
              td /calc
              td 
              td 
              td Sentiment for today
            tr
              td /calc
              td :date [ YYYY-MM-DD ]
              td 
              td Sentiment for that day
      
      .footer
        p © Matt Witherow 2014

